@font-face {
	font-family: "Montserrat-Bold";
	font-style: normal;
	font-weight: bold;
	src: local('Montserrat-Bold'),
		url("/fonts/Montserrat-Bold.woff") format('woff'),
		url("/fonts/Montserrat-Bold.ttf") format('ttf');
}

/* 500 */
@font-face {
	font-family: "Montserrat-Medium";
	font-style: normal;
	font-weight: Medium;
	src: local("Montserrat-Medium"),
		url("/fonts/Montserrat-Medium.woff") format('woff'),
		url("/fonts/Montserrat-Medium.ttf") format('ttf');
}

/* 400 */
@font-face {
	font-family: "Montserrat-Regular";
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat-Regular"),
		url("/fonts/Montserrat-Regular.woff") format('woff'),
		url("/fonts/Montserrat-Regular.ttf") format('ttf');
}

/* 700 */
@font-face {
	font-family: "Montserrat-SemiBold";
	font-style: normal;
	font-weight: 700;
	src: local("Montserrat-SemiBold"),
		url("/fonts/Montserrat-SemiBold.woff") format('woff'),
		url("/fonts/Montserrat-SemiBold.ttf") format('ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type:none;
}

button, a{
    cursor: pointer;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

.navigation{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DEDEDE;
    padding: 11px 8px 11px 15px;
}

.navigation a,
.navigation label{
    color: #333;
}

#materials{
    border: none;
    cursor: pointer;
}

.navigation__button{
    max-width: 225px;
    font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 48px;
    border: none;
    background: #E3F5F5;
    color: #03B2A5;
    border-radius: 4px;
}

.navigation__burger{
    position: relative;
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
}

.navigation__burger > span{
    display: block;
    width: 19px;
    height: 3px;
    background: #03B2A5;
    align-self: center;
    border-radius: 17px;
}

.navigation__burger > span::after,
.navigation__burger > span::before{
    content: "";
    display: block;
    position: absolute;
    width: 19px;
    height: 3px;
    background: #03B2A5;
    align-self: center;
    border-radius: 17px;
}

.navigation__burger > span::after{
    bottom: 10px;
    left: 10px;
}

.navigation__burger > span::before{
    top: 10px;
    left: 10px;
}

.history{
    padding-left: 18px;
    margin-top: 19px;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.history > a{
    color: rgba(51, 51, 51, 0.70);
    text-align: center;
    font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.history a:not(:first-child){
    padding-left: 4px;
}

.history > span{
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #333333B2;
    border-right: 1px solid #333333B2;
    transform: rotate(-45deg);
    align-self: center;
}

.blog{
    padding: 0 16px;
}

h1{
    font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color:#333333;
    margin-top: 24px;
}

.blog__menu{
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    gap: 8px;
    margin-top: 24px;
}

.blog__menu::-webkit-scrollbar{
    display: none;
}

.blog__item-menu{
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: transparent;
    font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 6px 8px;
}

.blog__item-menu_self{
    border: 2px solid #16C8BB;
}

.blog__cards{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 26px;
    padding: 0 0 59px 0;
    font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
}

.blog__topic{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 288px;
    border-radius: 14px;
    border: 1px solid #DEDEDE;
    padding-bottom: 15px;
}

.blog__topic > img{
    width: 100%;
    min-height: 206px;
    border-radius:14px 14px 0 0;
}

.blog__topic > h2{
    font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
    margin-top: 8px;
    padding-left: 16px;
}

.blog__topic_author{
    font-size: 12px;
    color: #494949;
    line-height: 18px;
    font-weight: 400;
    margin-top: 4px;
    padding-left: 17px;
}

.blog__topic_text{
    font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    padding: 0 15px;
    margin-top: 10px;
}

.blog__topic_date{
    color: #868686;
    margin-top: 6px;
    padding-left: 15px;
}

.blog__container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
    top: 4px;
    left: 7px;
}

.blog__item-menu_button{
    background: rgba(255, 255, 255, 0.70);
}

.blog__container_button{
    margin-top: 14px;
    display: flex;
    justify-content: center;
}

.blog__button{
    width: 182px;
    height: 48px;
    align-self: center;
    font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #FFF;
    background: #35B3A9;
    border-radius: 4px;
    border: none;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 7px;
    background: #2963A3;
    padding: 35px 0 20px 0;
    font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #FFF;
    padding: 35px 14px 37px 18px ;
}

footer ul{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40px 40px 40px 40px 40px;
    grid-template-areas:"one two"
                        "three four"
                        "five 1fr"
                        "six seven"
                        "eight nine";
}

footer > ul a{
    font-family: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #FFF;
}

.footer__container_form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    max-width: 450px;
}

.footer__container__email{
    display:flex;
}

.footer__text{
    font-size: 18px;
    line-height: 26px; 
}

footer input{
    width: -webkit-fill-available;
    max-width: 320px;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
    height: 48px;
    padding-left: 18px;
    font-family: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer__button_email{
    display: none;
    width: 64px;
    height: 48px;
    right: 189px;
    border-radius: 4px;
    background-color: #16C8BB;
    background-image: url(/img/buttonEmail.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.footer__text_agreement,
.footer__text_youtalk,
.footer__link{
    font-family: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-top: 4px;
}

.footer__container_social{
    margin-top: 41px;
}

.footer__logo_skillfactory{
    width: 225px;
}

.footer__social{
    display: flex;
    column-gap: 16px;
    padding: 12px 0 13px 0;
}

.footer__container_links{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #9D9D9D;
}

.footer__text_youtalk,
.footer__link{
    font-size: 14px;
    line-height: 20px;
    margin-top: 11px;
}

.footer__link{
    color: #FFFFFF;
}

@media (max-width: 767px) { 
    .blog__topic:nth-child(5),
    .blog__topic:nth-child(6),
    .blog__topic:nth-child(7),
    .blog__topic:nth-child(8){
        display: none;
    }

}

@media (min-width: 414px) { 
    h1{
        font-size: 32px;
        line-height: 40px
    }

    .blog__topic_date{
        margin-top: 62px;
    }

    footer{
        padding: 35px 20px 37px 19px;
    }

    .footer__container__email input{
        margin-right: -13px;
    }

    .footer__button_email{
        display: block;
    }    

}


@media (min-width: 768px) { 
    h1{
        font-size: 48px;
        line-height: 56px
    }

    .blog__menu{
        flex-wrap: wrap;
        overflow: visible;
    }

    .navigation{ 
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, .5);
        padding-left: 20px;
        padding-right: 20px;
    }

    .history {
        padding-left: 20px;
    }

    .blog {
        padding: 0 20px;
    }

    .blog__cards{
        display: grid;
        grid-template-areas:
        "a a "
        "b b"
        "c d";
    }

    .blog__topic:nth-child(1),
    .blog__topic:nth-child(2){
        grid-column: span 2;
    }

    .blog__container_button{
        grid-column: span 2;
    }

    footer{
        display: grid;
        grid-template-areas:
        "a a "
        "b b"
        "c d";
        grid-column-gap: 31px;  
    }

    footer ul{
        grid-template-columns: none;
        grid-column-gap: 37px;
    }

    .footer__container_social{
        grid-column: span 2;
        margin-top: 0;
    }

    .footer__social{
        margin-top: 20px;
    }

    .footer__container_links{
        grid-column: span 2;
        flex-direction: row;
        gap: 50px;
    }

    footer{
        padding: 35px 20px 23px 20px;
    }

}

@media (max-width: 1024px) {
    .navigation__links, 
    .navigation__button{
        display: none;
    }
}

@media (min-width: 1024px) {
    .navigation__burger{
        display: none;
    }

    .navigation__links, 
    .navigation__button{
        display: block;
    }   

    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 114%;
        padding-left: 32px;
        padding-right: 32px;
        box-shadow: none;
    }

    .navigation__links{
        display: flex;
        justify-content: space-around;
        flex-grow: 3;
    }

    label{
        cursor: pointer;
    }

    .navigation__button{
        flex-grow: 2;
    }

    .history {
        padding-left: 32px;
    }

    .blog {
        padding: 0 32px;
    }

    .blog__cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
        margin: 26px auto 0 auto;
    }

    .blog__topic{
        max-width: 304px;
        min-width: 300px;
    }

    .blog__topic:nth-child(1),
    .blog__topic:nth-child(2){
        max-width: 468px;
    }

    footer{
        padding: 40px 26px 17px 38px;
        grid-template-areas:
        "a b c"
        "d d d";
    }

    footer > ul{
        grid-column: span 1;
    }

    .footer__container_form{
        grid-column: span 1;
    }

    .footer__container_social{
        grid-column: span 1;
    }

    .footer__container_links{
        grid-column: span 3;
    }

}

@media (min-width: 1440px){
    body{
        background: url("/img/background.png");
        background-repeat: no-repeat;
        background-position-y: 500px;
    }

    .navigation {
        padding-left: 120px;
        padding-right: 120px;
    }

    .history {
        padding-left: 126px;
    }

    .blog{
        padding: 0 120px;
    }

    .blog__cards{
        max-width: 1200px;
    }

    .blog__topic{
        max-width: 384px;
    }

    .blog__topic:nth-child(1),
    .blog__topic:nth-child(2){
        max-width: 588px;
    }

    footer{
        padding: 40px 120px 17px 120px;
    }
}